amqp==2.6.1
arkpy==0.6
billiard==3.6.4.0
boto3==1.18.26
botocore==1.21.26
celery==4.4.7
certifi==2022.12.7
charset-normalizer==2.0.4
defusedxml==0.5.0
Django==2.2.24
django-cors-headers==3.8.0
django-filter==2.1.0
django-saml2-pro-auth @ git+https://github.com/culibraries/django-saml2-pro-auth.git@e2ad53d2591e4afc8606ffe94867f7c44be41699
django-settings-export==1.2.1
djangorestframework==3.11.2
djangorestframework-jsonp==1.0.2
djangorestframework-simplejwt==4.3.0
djangorestframework-xml==1.4.0
djangorestframework-yaml==1.0.3
drf-renderer-xlsx==0.4.1
et-xmlfile==1.1.0
gunicorn==19.9.0
idna==3.2
isodate==0.6.0
jmespath==0.10.0
kombu==4.6.11
lxml==4.6.3
mysql==0.0.3
mysqlclient==2.0.3
numpy==1.21.2
openpyxl==3.0.7
pandas==1.3.1
PyJWT==1.7.1
pymongo==3.7.2
python-dateutil==2.8.2
python-memcached==1.59
python3-saml==1.11.0
pytz==2021.1
PyYAML==5.4
requests==2.26.0
s3transfer==0.5.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.26.6
vine==1.3.0
XlsxWriter==3.0.1
xmlsec==1.3.11
sqlalchemy==1.4.31
furl==2.1.3