amqp==2.6.1
#==2.4.2
#billiard==3.6.0.0
#celery==4.3.0
celery==4.4.7
defusedxml==0.5.0
Django==2.2.24
django-filter==2.1.0
django-settings-export==1.2.1
djangorestframework==3.11.2
djangorestframework-jsonp==1.0.2
djangorestframework-simplejwt==4.3.0
djangorestframework-xml==1.4.0
djangorestframework-yaml==1.0.3
#kombu==4.5.0
PyJWT==1.7.1
pymongo==3.7.2
python-memcached==1.59
PyYAML==5.4
six==1.12.0
sqlparse==0.3.0
gunicorn==19.9.0
mysql
django-cors-headers
git+https://github.com/culibraries/django-saml2-pro-auth.git
boto3
requests
arkpy
#vine==1.3.0
drf-renderer-xlsx
